<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Over Ons - La Pazia</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
            <a class="nav-link" href="{{ url_for('reserveren') }}">Reserveren</a>
            <a class="nav-link" href="{{ url_for('menu') }}">Menukaart</a>
            <a class="nav-link" href="{{ url_for('overons') }}">Over Ons</a>
            <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
            <a class="login-button" href="{{ url_for('login') }}">👤</a>
        </nav>
    </header>
    <div class="standaard">
        <h1>Welkom bij restaurant La Pazia</h1>
        
        <p>In het hart van een bruisende stad vindt u Restaurant La Pazia, waar elke gast wordt verwelkomd als een oude vriend. De keuken viert de wereldkeuken met een moderne twist, omgeven door een warme, uitnodigende sfeer.</p>
        
        <p>Het menu, samengesteld door onze chef-kok, is een eerbetoon aan de diversiteit van de wereldkeuken. Elk gerecht vertelt een verhaal, een viering van smaak en traditie. Of het nu gaat om een romantisch diner, een familiebijeenkomst of een zakelijke bijeenkomst, ons team staat klaar om elk evenement onvergetelijk te maken.</p>
        
        <p>Ontdek onze drankenkaart met een uitgebreide selectie van wijnen, ambachtelijke bieren en creatieve cocktails, samengesteld om uw dinerervaring te complementeren. We nodigen u uit om deel uit te maken van de familie van La Pazia. Reserveer uw tafel en ervaar de smaken, verhalen en warmte van onze gastvrijheid.</p>
        
        <p>Welkom bij Restaurant La Pazia - waar smaak en traditie elkaar ontmoeten in perfecte harmonie.</p>
    </div>
</body>
</html>
