<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gebruikers - Admin</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav> 
            <a class="nav-link" href="{{ url_for('admin') }}">Home</a> 
            <a class="nav-link" href="{{ url_for('view_reservations') }}">Reserveringen</a> 
            <a class="nav-link" href="{{ url_for('view_contacts') }}">Contactberichten</a>
            <a class="nav-link" href="{{ url_for('view_users') }}">Gebruikers</a> 
            <a class="nav-link" href="#" onclick="confirmLogout()">Uitloggen</a>   
        </nav>
    </header>
    <div class="admin-pagina">
        <h2>Gebruikers</h2>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <table>
            <tr>
                <th>Inlognaam</th>
                <th>Laatst ingelogd</th>
                <th>Admin rechten?</th>
                <th>Actie</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ user[1] }}</td>
                <td>{{ "Onbekend" if not user[4] else user[4] }}</td>
                <td>{{ "Nee" if user[3] == 0 else "Ja" }}</td>
                <td>
                    <form action="{{ url_for('toggle_admin', user_id=user[0]) }}" method="post" onsubmit="return confirmRechten();">
                        <input type="submit" value="Rechten aanpassen">
                    </form>
                    <form action="{{ url_for('delete_user', user_id=user[0]) }}" method="post" onsubmit="return confirmDelete('Weet je zeker dat je deze gebruiker wilt verwijderen?');">
                        <input type="submit" value="Gebruiker verwijderen">
                    </form>                    
                </td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <a class="nav-link admin-link" href="{{ url_for('register') }}">Nieuwe gebruiker registreren</a>
    </div>
    <script>
        function confirmLogout() {
            if (confirm("Weet je zeker dat je wilt uitloggen?")) {
                window.location.href = "{{ url_for('logout') }}";
            }
        }
        function confirmRechten() {
            return confirm("Weet je zeker dat je admin rechten wilt toewijzen/weghalen?");
        }
        function confirmDelete(message) {
        return confirm(message);
        }   
    </script>
</body>
</html>
