<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inloggen - La Pazia</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <a class="nav-link" href="{{ url_for('home') }}">Terug</a>
        </nav>
    </header>
    <main>
        <div class="inlogpagina">
            <h2>Voer uw aanmeldgegevens in:</h2>
            <form action="{{ url_for('login') }}" method="post">
                <label for="gebruikersnaam">Gebruikersnaam:</label>
                <input type="text" id="gebruikersnaam" name="gebruikersnaam" placeholder="Gebruikersnaam" required>
                <label for="wachtwoord">Wachtwoord:</label>
                <input type="password" id="wachtwoord" name="wachtwoord" placeholder="Wachtwoord" required>
                <input type="submit" value="Inloggen">
            </form>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="error-messages">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
    </main>    
</body>
</html>
