<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserveren - La Pazia</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
            <a class="nav-link" href="{{ url_for('reserveren') }}">Reserveren</a>
            <a class="nav-link" href="{{ url_for('menu') }}">Menukaart</a>
            <a class="nav-link" href="{{ url_for('overons') }}">Over Ons</a>
            <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
            <a class="login-button" href="{{ url_for('login') }}">👤</a> 
        </nav>
    </header>
    <main>
        <div class="reserveren">
            <h1>Reserveren La Pazia</h1>
            <p>Voer hieronder uw gegevens in, dan nemen wij zo spoedig mogelijk contact met u op!</p>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-messages">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            {% endwith %}
            <form action="/submit-reservation" method="post"> 
                <label for="voornaam">Voornaam:</label>
                <input type="text" id="voornaam" name="voornaam" placeholder="Voornaam" required>

                <label for="achternaam">Achternaam:</label>
                <input type="text" id="achternaam" name="achternaam" placeholder="Achternaam" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Email" required>

                <label for="telefoonnummer">Telefoonnummer:</label>
                <input type="tel" id="telefoonnummer" name="telefoonnummer" placeholder="Telefoonnummer" required>

                <label for="aantalPersonen">Aantal personen
                    </label>
                    <select id="aantalPersonen" name="aantalPersonen" required>
                    <option value="1">1 persoon</option>
                    <option value="2">2 personen</option>
                    <option value="3">3 personen</option>
                    <option value="4">4 personen</option>
                    <option value="5">5 personen</option>
                    <option value="6">6 personen</option>
                    <option value="7">7 personen</option>
                    <option value="8">8 personen</option>
                    </select>
                                <label for="datum">Datum:</label>
                                <input type="date" id="datum" name="datum" required>
                                <input type="submit" value="Verzenden">
                            </form>
                            <p>Voor meer dan 8 personen, neem dan even telefonisch contact met ons op, zodat we kunnen kijken naar de mogelijkheden.</p>
                            <p>Contactgegevens La Pazia:</p> 
                            <p>E-mail: reserveren@lapazia.nl</p>
                            <p>Telefoonnummer: 050 85 05 822</p>
        </div>
    </main>
</body>
</html>